/* Fuentes y configuraciones generales */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  cursor: url(/static/assets/cursorWhite.png) 16 16, auto !important;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  color: #333;
  height: 100vh;
  overflow-x: hidden;
}

/* Estilo del nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(16, 16, 16, 0.7);
  padding: 12px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  background-color: #191a19;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #fc4500;
}

nav h1 {
  font-size: 1.8rem;
  color: white;
  margin-left: 830px;
  position: absolute;
}

/* Fondo */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/fondo.png");
  background-size: cover;
  background-position: center;
  z-index: -10;
}

/* Formulario */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

form {
  background-color: #1f1f1f;
  border: 1px solid #999999;
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  font-weight: 500;
  color: #e0e0e0;
}

input,
select {
  padding: 12px;
  border: 1px solid #999999;
  border-radius: 8px;
  background-color: #2a2a2a;
  color: #e0e0e0;
}

input:focus,
select:focus {
  outline: none;
  border-color: #fc4500;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #fc4500;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9e2d04;
}

/* Mensaje */
.message-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 12px;
  background-color: rgba(19, 18, 18, 0.7);
}

.message {
  background-color: #fc4500;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
}

/* Responsivo */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    gap: 10px;
  }

  nav h1 {
    font-size: 1.5rem;
  }
}
