/* Estilos para la página de inicio de sesión */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #e0f7fa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  background-color: #222;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #e0f7fa;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  color: #e0f7fa;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #9e2d04;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #e0f7fa;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #9e2d04;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d13f12;
}

/* Mensaje de éxito */
.message-container {
  background-color: rgba(19, 18, 18, 0.7);
  padding: 12px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.message {
  background-color: #fc4500;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 0.9rem;
  color: white;
  width: 200px;
  text-align: center;
  display: inline;
}
