<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Asistencias</title>
    <link rel="stylesheet" href="/static/asistencias.css" />
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
        </ul>
        <h1>Planilla de asistencias</h1>
      </nav>
    </div>
    <form method="post" action="/asistencias">
      <div class="form-group">
        <label for="year">Año:</label>
        <select id="year" name="year" onchange="cambiarFecha()">
          {% for year in range(2020, 2031) %}
            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>
              {{ year }}
            </option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group">
        <label for="month">Mes:</label>
        <select id="month" name="month" onchange="cambiarFecha()">
          <option value="1" {% if selected_month == 1 %}selected{% endif %}>Enero</option>
          <option value="2" {% if selected_month == 2 %}selected{% endif %}>Febrero</option>
          <option value="3" {% if selected_month == 3 %}selected{% endif %}>Marzo</option>
          <option value="4" {% if selected_month == 4 %}selected{% endif %}>Abril</option>
          <option value="5" {% if selected_month == 5 %}selected{% endif %}>Mayo</option>
          <option value="6" {% if selected_month == 6 %}selected{% endif %}>Junio</option>
          <option value="7" {% if selected_month == 7 %}selected{% endif %}>Julio</option>
          <option value="8" {% if selected_month == 8 %}selected{% endif %}>Agosto</option>
          <option value="9" {% if selected_month == 9 %}selected{% endif %}>Septiembre</option>
          <option value="10" {% if selected_month == 10 %}selected{% endif %}>Octubre</option>
          <option value="11" {% if selected_month == 11 %}selected{% endif %}>Noviembre</option>
          <option value="12" {% if selected_month == 12 %}selected{% endif %}>Diciembre</option>
        </select>
      </div>
      <table>
        <thead>
          <tr>
            <th>Socio</th>
            {% for day in range(1, 32) %}
            <th>{{ day }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for socio in datos %}
          <tr>
            <td>{{ socio.socio }}</td>
            {% for day in range(1, 32) %}
            <td>
              <input
                type="checkbox"
                name="asistencias"
                value='{"socio": "{{ socio.socio }}", "dia": "{{ day }}"}'
                {%
                if
                day
                in
                socio.asistencias
                %}checked{%
                endif
                %}
              />
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <button type="submit">Guardar</button>
    </form>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    <div class="background-image"></div>
    
    <script>
      function cambiarFecha() {
        // Obtener el formulario y los valores seleccionados
        const year = document.getElementById("year").value;
        const month = document.getElementById("month").value;
    
        // Crear una nueva URL con los parámetros seleccionados
        const nuevaURL = `/asistencias?year=${year}&month=${month}`;
    
        // Redirigir a la nueva URL
        window.location.href = nuevaURL;
      }
    </script>
  </body>
</html>
