<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Asistencias</title>
    <link rel="stylesheet" href="/static/asistencias.css" />
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/index" draggable="false">Inicio</a></li>
          <li><a href="read_asistencias" draggable="false">Planilla de asistencia</a></li>
        </ul>
        <h1>Registrar Asistencia</h1>
      </nav>
    </div>

    <form id="asistencia-form">
      <label for="socio">Seleccione un socio:</label>
      <select id="socio" name="socio" required>
        <option value="" disabled selected>Seleccionar socio</option>
        {% for socio in socios %}
        <option value="{{ socio.id_socio }}">{{ socio.nombre }} {{ socio.apellido }}</option>
        {% endfor %}
      </select>
      <div class="form-group">
        <button type="submit">Registrar Asistencia</button>
      </div>
    </form>

    <div class="background-image"></div>
    <!-- Mensaje de éxito (si existe) -->
    {% if message %}
    <div class="message-container">
      <p class="message">{{ message }}</p>
    </div>
    {% endif %}
    <script src="static/scripts/crear_asistencia.js"></script>
  </body>
</html>
