<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Crear plan social</title>
    <link rel="stylesheet" href="/static/css/crear.css" />
  </head>
  <body>
    <style>
      nav h1 {
        margin: 0;
        font-size: 1.8rem;
        color: white;
        flex-grow: 1;
        text-align: center;
        margin-right: 320px;
      }
    </style>
    <div>
      <nav>
        <ul>
          <li><a href="/index" draggable="false">Inicio</a></li>
          <li><a href="read_planes_sociales" draggable="false">Ver planes sociales</a></li>
        </ul>
        <h1>Cargar nuevo plan social</h1>
      </nav>
    </div>

    <div class="form-container">
      <form action="/crear_plan_social" method="post">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            id="nombre_plan_social"
            name="nombre_plan_social"
            placeholder="nombre del plan social"
            required
          />
        </div>
        <div class="form-group">
          <button type="submit">Cargar Plan social</button>
        </div>
      </form>
    </div>
    <div class="background-image"></div>
    <!-- Mensaje de éxito (si existe) -->
    {% if message %}
    <div class="message-container">
      <p class="message">{{ message }}</p>
    </div>
    {% endif %}
  </body>
</html>
