<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atenas GYM</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <header>
      <h1>ATENAS GYM</h1>
      <img
        src="static/assets/atenas2.png"
        alt="Logo Atenas Gym"
        draggable="false"
        class="header-logo"
      />
    </header>
    <main>
      <div class="container">
        <!-- Sección Socios -->
        <div class="card">
          <h2>Socios</h2>
          <p>Gestiona los socios.</p>
          <div class="button-group">
            <a href="/crear_socio" class="button" draggable="false">Crear socio</a>
            <a href="/read_socios" class="button" draggable="false">Ver socios</a>
          </div>
        </div>

        <!-- Sección plan social -->
        <div class="card">
          <h2>Plan social</h2>
          <p>Gestiona los planes sociales.</p>
          <div class="button-group">
            <a href="/crear_plan_social" class="button" draggable="false">Crear plan social</a>
            <a href="/read_planes_sociales" class="button" draggable="false">Ver planes sociales</a>
          </div>
        </div>

        <!-- Sección combos de planes -->
        <div class="card">
          <h2>Combos de planes</h2>
          <p>Gestiona los combos de planes.</p>
          <div class="button-group">
            <a href="/crear_plan" class="button" draggable="false">Crear combo</a>
            <a href="/read_combos" class="button" draggable="false">Ver combos</a>
          </div>
        </div>

        <!-- Sección Asistencias -->
        <div class="card">
          <h2>Asistencias</h2>
          <p>Gestiona las asistencias de los socios.</p>
          <div class="button-group">
            <a href="/crear_asistencia" class="button" draggable="false">Registrar asistencias</a>
            <a href="/read_asistencias" class="button" draggable="false">Planilla asistencias</a>
          </div>
        </div>

        <!-- Sección cobros / ingresos -->
        <div class="card">
          <h2>Cobros - Ingresos</h2>
          <p>Gestiona los pagos de los socios.</p>
          <div class="button-group">
            <a href="/read_ingresos" class="button" draggable="false">Ver pagos</a>
          </div>
        </div>
      </div>
      <!-- Botón de Cerrar Sesión -->
      <form class="logout-button" action="/logout" method="get">
        <a class="logout-tittle" href="/logout" draggable="false">Cerrar sesión</a>
      </form>
      <!-- BACKGROUND -->
      <div class="background-image"></div>
    </main>
    <footer>
      <p>&copy; Atenas gym</p>
    </footer>
    <script src="static/scripts/logout.js"></script>
  </body>
</html>
