<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresos Mensuales</title>
    <link rel="stylesheet" href="/static/css/planilla.css" />
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/index" draggable="false">Inicio</a></li>
        </ul>
        <h1>Lista de cobros del mes</h1>
      </nav>
    </div>

    <!-- Selector de Mes -->
    <form method="GET" action="read_ingresos">
      <label for="mes">Seleccionar Mes:</label>
      <input type="month" id="mes" name="mes" value="{{ mes_actual }}" />
      <button type="submit" draggable="false">Filtrar</button>
    </form>

    <!-- Mensaje de éxito o error -->
    <div id="messageContainer" class="message-container" style="display: none"></div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Combo</th>
          <th>Precio</th>
          <th>Fecha Programada</th>
          <th>Fecha Pago</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for cobro in cobros %}
        <tr>
          <td>{{ cobro.id_pago }}</td>
          <td>{{ cobro.nombre }}</td>
          <td>{{ cobro.apellido }}</td>
          <td>{{ cobro.combo }}</td>
          <td>{{ cobro.precio }}</td>
          <td>{{ cobro.fecha_programada }}</td>
          <td>{{ cobro.fecha_pago if cobro.fecha_pago else 'No pagado' }}</td>
          <td>
            <span
              id="estado_pago_{{ cobro.id_pago }}"
              class="{{ 'pagado' if cobro.estado_pago == 'Pagado' else 'pendiente' }}"
            >
              {{ "Pagado" if cobro.estado_pago == 'Pagado' else "Pendiente" }}
            </span>
          </td>
          <td>
            <a href="/actualizar_pago/{{ cobro.id_pago }}">
              <button>Actualizar</button>
            </a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    <script src="static/scripts/read_ingresos.js"></script>

    <style>
      .message-container {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
      }
      .pagado {
        color: green;
        font-weight: bold;
      }
      .pendiente {
        color: red;
        font-weight: bold;
      }
    </style>
  </body>
</html>
