<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planilla de Asistencias</title>
    <link rel="stylesheet" href="/static/css/planilla_asistencias.css" />
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/index" draggable="false">Inicio</a></li>
          <li><a href="/crear_asistencia" draggable="false">Registrar Asistencia</a></li>
        </ul>
        <h1>Planilla de Asistencias</h1>
      </nav>
    </div>

    <!-- Contenedor de los botones -->
    <div id="formButtons">
      <button onclick="toggleForm('searchForm')">Buscar Socio</button>
      <button onclick="toggleForm('filterForm')">Filtrar Fecha</button>
    </div>

    <!-- Formulario de búsqueda -->
    <div id="searchForm" class="form-container" style="display: none">
      <form>
        <div class="form-group">
          <label for="socioName">Nombre del Socio</label>
          <input type="text" id="socioName" name="socioName" placeholder="Ingrese el nombre" />
        </div>
        <button type="submit">Buscar</button>
      </form>
    </div>

    <!-- Formulario de filtro por fecha -->
    <div id="filterForm" class="form-container" style="display: none">
      <form action="/read_asistencias/filtrar" method="get">
        <!-- Asegúrate de definir el `action` correctamente -->
        <div class="form-group">
          <label for="filterDate">Fecha</label>
          <input type="date" id="filterDate" name="fecha" />
          <!-- Cambia `name="fecha"` para que coincida con el parámetro en el backend -->
        </div>
        <button type="submit">Filtrar</button>
      </form>
    </div>

    <!-- Tabla de asistencias -->
    <div id="asistenciasContainer">
      <table id="asistencias-table">
        <thead>
          <tr>
            <th>#</th>
            <th id="orden-tabla-nombre" data-sort="nombre">Nombre</th>
            <th id="orden-tabla-apellido" data-sort="apellido">Apellido</th>
            <th>Fecha</th>
            <th>Hora</th>
          </tr>
        </thead>
        <tbody id="asistencias-table-body">
          {% for asistencia in asistencias %}
          <tr id="asistencia-{{ asistencia.socio_id }}">
            <td class="indice"></td>
            <td>{{ asistencia.socio.nombre }}</td>
            <td>{{ asistencia.socio.apellido }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Mensaje de éxito (si existe) -->
    {% if message %}
    <div class="message-container">
      <p class="message">{{ message }}</p>
    </div>
    {% endif %}

    <script src="static/scripts/read_asistencias.js"></script>
    <script src="static/scripts/indice.js"></script>
  </body>
</html>
