<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Socios</title>
    <link rel="stylesheet" href="/static/css/planilla.css" />
  </head>
  <body>
    <style>
      .message-container {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
      }
      .pagado {
        color: green;
        font-weight: bold;
      }
      .pendiente {
        color: red;
        font-weight: bold;
      }
    </style>
    <div>
      <nav>
        <ul>
          <li><a href="/index" draggable="false">Inicio</a></li>
          <li><a href="/crear_socio" draggable="false">Crear Socio</a></li>
        </ul>
        <h1>Lista de Socios</h1>
      </nav>
    </div>

    <!-- Mensaje de éxito (si existe) -->
    {% if message %}
    <div id="messageContainer" class="message-container" style="display: none"></div>
    {% endif %}

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th id="orden-tabla" data-sort="nombre" onclick="ordenarTabla('nombre')">Nombre</th>
          <th id="orden-tabla" data-sort="apellido" onclick="ordenarTabla('apellido')">Apellido</th>
          <th>DNI</th>
          <th>Fec. Nacimiento</th>
          <th>Género</th>
          <th>Estado</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>fec. ingreso</th>
          <th>Plan</th>
          <th>Plan Social</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="socios-table-body">
        {% for socio in socios %}
        <tr id="socio-{{ socio.id_socio }}">
          <td class="indice"></td>
          <td>{{ socio.nombre }}</td>
          <td>{{ socio.apellido }}</td>
          <td>{{ socio.dni }}</td>
          <td>{{ socio.fecha_nacimiento }}</td>
          <td>{{ socio.genero }}</td>
          <td>{{socio.estado}}</td>
          <td>{{ socio.email }}</td>
          <td>{{ socio.telefono }}</td>
          <td>{{ socio.direccion }}</td>
          <td>{{ socio.fecha_ingreso }}</td>
          <td>{{ socio.plan.nombre_plan if socio.plan else 'Sin Plan' }}</td>
          <td>
            {{ socio.plan_social.nombre_plan_social if socio.plan_social else 'Sin Plan Social' }}
          </td>
          <td>
            <button onclick="showDeleteForm('{{ socio.id_socio }}')">Eliminar</button>
            <a href="/actualizar_socio/{{ socio.id_socio }}">
              <button>Actualizar</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Fondo oscuro superpuesto -->
    <div id="deleteOverlay" onclick="hideDeleteForm()"></div>

    <!-- Formulario de eliminación -->
    <div id="deleteForm" style="display: none">
      <h2>Eliminar Plan Social</h2>
      <form id="eliminarSocio" method="post">
        <input type="hidden" id="deleteId" name="id" />
        <p class="parrafo">¿Estás seguro de que deseas eliminar este plan social?</p>
        <div class="botones-act-dele1">
          <button type="button" onclick="eliminarSocio()">Eliminar</button>
          <button class="pis" type="button" onclick="hideDeleteForm()">Cancelar</button>
        </div>
      </form>
    </div>

    <script src="/static/scripts/botones_read_socios.js"></script>
    <script src="/static/scripts/indice.js"></script>
  </body>
</html>
