<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Planes Sociales</title>
    <link rel="stylesheet" href="/static/css/planilla.css" />
  </head>
  <body>
    <div>
      <nav>
        <ul>
          <li><a href="/index" draggable="false">Inicio</a></li>
          <li><a href="/crear_plan_social" draggable="false">Crear Plan Social</a></li>
        </ul>
        <h1>Lista de Planes Sociales</h1>
      </nav>
    </div>

    <!-- Mensaje de éxito (si existe) -->
    {% if message %}
    <div id="messageContainer" class="message-container" style="display: none"></div>
    {% endif %}

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre del Plan Social</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="planes-table-body">
        {% for plan_social in planes_sociales %}
        <tr id="plan-social-{{ plan_social.id }}">
          <td class="indice"></td>
          <td>{{ plan_social.nombre_plan_social }}</td>
          <td>
            <button onclick="showDeleteForm('{{ plan_social.id_plan_social }}')">Eliminar</button>
            <!-- Botón para actualizar -->
            <a href="/planes_sociales/{{ plan_social.id_plan_social }}/actualizar">
              <button>Actualizar</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Formulario de eliminación -->
    <div id="deleteForm" style="display: none">
      <h2>Eliminar Plan Social</h2>
      <form id="deletePlanSocialForm" method="post">
        <input type="hidden" id="deleteId" name="id" />
        <p class="parrafo">¿Estás seguro de que deseas eliminar este plan social?</p>
        <div class="botones-act-dele1">
          <button type="button" onclick="eliminarPlanSocial()">Eliminar</button>
          <button class="pis" type="button" onclick="hideDeleteForm()">Cancelar</button>
        </div>
      </form>
    </div>

    <script src="static/scripts/botones_read_plan_social.js"></script>
    <script src="/static/scripts/indice.js"></script>
  </body>
</html>
